<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="registerForm" class="col-6">
            <h2>Registrarse</h2>
            <div class="mb-3">
                <span>Nombre: </span>
                <input type="text" class="form-control" formControlName="nombre" autocomplete="off">
            </div>
            <div class="mb-3">
                <span>Email: </span>
                <input type="text" class="form-control" formControlName="email" autocomplete="off">
            </div>
            <div class="mb-3">
                <span>Fecha de nacimiento: </span>
                <input type="date" class="form-control" formControlName="fecha_nacimiento" autocomplete="off">
            </div>
            <div class="mb-3">
                <span>Clave: </span>
                <input type="password" class="form-control" formControlName="clave" autocomplete="off">
            </div>
            <div class="mb-3">
                <span>Genero: </span>
                <select formControlName="genero" class="form-control">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
            </div>
            <button class="btn btn-primary" (click)="insertUsuario()">Guardar usuario</button>
            <button class="btn btn-primary" (click)="goLogin()">Iniciar sesión</button>
        </form>
    </div>
</div>